body{
  font-family: 'Poppins', sans-serif;
  margin: 0;

}
h1{
  font-size: 50px;
}
.Heading-down{
  display: block;
}
.heading-highliter{
  color: orange;
}
.half-width{
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;

}
.half-width img{
  width: 100%; /* it's mean image joto boroe hok na kan it's takes it's section width. It's not takes it's full images dimations */

}
section{
  height: 500px;
  /* border: 1px solid red;  for see what's going on there */

}
.top-banner{
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.anchor-button{
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
  font-weight: 700;

}